<h2>Edit Character</h2>


<%= form_for @character, :html => {:multipart => true} %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :server %>
  <%= f.text_field :server %>
  <br>

  <%= f.label 'Class' %>
  <%= f.text_field :spec %>
  <br>

  <%= f.label 'Spec' %>
  <%= f.text_field :subspec %>
  <br>

  <%= f.label 'Character Icon' %>
  <%= f.cl_image_upload :image %>
  <br>

  <%= f.submit 'Edit Character' %>
<% end %>
