<h2>Create New Character</h2>


<%= form_with do|f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :server %>
  <%= f.text_field :server %>
  <br>

  <%= f.label :spec %>
  <%= f.text_field :spec %>
  <br>

  <%= f.label :subspec %>
  <%= f.text_field :subspec %>
  <br>

  <%= f.label :image %>
  <%= f.text_field :image %>
  <br>

  <%= submit_tag 'Add Character' %>
<% end %>
