<h2>Create New Character</h2>


<%= form_for @character do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :server %>
  <%= f.text_field :server %>
  <br>

  <%= f.label 'Class' %>
  <%= f.text_field :spec %>
  <br>

  <%= f.label 'Spec' %>
  <%= f.text_field :subspec %>
  <br>

  <%= f.label 'Character Icon' %>
  <%= f.text_field :image %>
  <br>

  <%= submit_tag 'Add Character' %>
<% end %>
