<h2>Character Info</h2> <%= link_to 'Edit', edit_character_path	 %>

<h3>
<%= @character.name %> - <%= @character.server %>
<br>
<%= @character.subspec %> <%= @character.spec %>
</h3>

<%= cl_image_tag(@character.image) %>
